@-ms-viewport{ width: device-width; }
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --logo-blue: #77d4fc;
}

body {
  font-family: "Roboto Condesed", sans-serif;
}

/**************************** NAVBAR ****************************/

nav {
  z-index: 2;
}

.logo {
  width: auto;
  height: 7rem !important;
  margin-top: -.5rem !important;
}

/************** MENU LINKS **************/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--logo-blue);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--logo-blue);
}

/**************************** HEADER ****************************/

.header-wrapper {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: block;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
}

.main-info h1 {
  color: var(--logo-blue);
  text-transform: uppercase;
}

/************** TYPED TEXT **************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
  min-height: 5rem;
}

/************** CONTACT ME BTN **************/

.btn-contact-me {
  font-size: 1.5rem;
  color: var(--primary-white);
  background-color: var(--logo-blue);
  text-transform: uppercase;
  border: 1pt solid var(--logo-blue);
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  margin-top: 2rem;
}

#particles {
  position: absolute !important;
  height: 100vh !important;
  width: 100vh !important;
  z-index: 1 !important;
}